*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
}
.navbar{
    background-color: rgb(206, 180, 78);
    text-align: center;
}

.logo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.my-work{
    text-align: center;
}



.main-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.skills {
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.skill-header {
    margin-bottom: 50px;
}

.skills-wrap img {
    padding: 20px;
}